/* GENERAL */
body {
  line-height: 1.5;
}

html {
  background-color: rgb(238, 238, 238);
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: RGB(64, 64, 64);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(64, 64, 64);
}

p,
span {
  color: rgb(94, 94, 94);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.up-ca {
  text-transform: uppercase;
}

.title {
  margin: 2rem 0 0 0;
}

img,
video {
  width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}

/* HEADER */

.header {
  background-color: rgb(255, 255, 255);
  height: 4rem;
}

.logo-sec {
  height: 2rem;
  margin-left: 1.5rem;
}

.colmar {
  color: rgb(64, 64, 64);
  font-weight: 500;
}

.academy {
  color: rgb(153, 153, 153);
}

.navigation {
  margin-right: 1.5rem;
}

.navigation a {
  margin-left: 1rem;
  color: rgb(64, 64, 64);
  font-weight: 500;
}

.navigation a:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .navigation {
    margin-right: 0;
  }

  .mobile div {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

/* BANNER */

.img-ban {
  width: 60%;
  margin: 2rem 1.5rem;
}

.start-sec {
  width: calc(40% - 3rem);
}

.start {
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.start h1,
.start p,
.start .button {
  margin: 1rem 0;
  width: 100%;
}

.start p {
  font-size: 1.5rem;
  font-weight: 500;
}

.start .button {
  justify-content: center;
  background-color: rgb(94, 94, 94);
  border-radius: 0.25rem;
}

.start .button span {
  padding: 0.5rem 0;
  color: RGB(255, 255, 255);
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }

  .img-ban {
    margin: 0 0;
  }

  .banner > div {
    width: 100%;
  }

  .start {
    width: 100%;
    margin: 1rem 1rem;
  }

  .start .button {
    margin-top: 0.5rem;
  }
}

/* MAIN & STORIES */

.main {
  width: 60%;
  margin: 2rem 1.5rem;
  flex-direction: column;
}

.media-main {
  width: 100%;
  margin-bottom: 2rem;
}

.stories {
  flex-direction: column;
  width: calc(40% - 3rem);
  margin-top: 1rem;
  align-items: flex-start;
}

.stories > .story {
  width: 100%;
  justify-content: flex-start;
}

.story .media-story {
  width: 35%;
  margin: 1rem 1rem;
}

.txt-story {
  flex-direction: column;
  align-items: flex-start;
  width: calc(65% - 4rem);
  margin-right: 2rem;
}

.txt-story p {
  margin: 0.5rem 0;
}

/* INFORMATION */

.informations {
  background-color: rgb(255, 255, 255);
  align-items: flex-start;
}

.txt-main h1 {
  margin-bottom: 1.5rem;
}

.txt-main span {
  margin-top: 2rem;
}

.guest {
  background-color: rgb(238, 238, 238);
}

.txt-story span {
  color: rgb(0, 191, 255);
}

@media only screen and (max-width: 480px) {
  .informations {
    flex-direction: column;
  }

  .stories {
    margin: 0 0;
    width: 100%;
    align-items: center;
  }

  .stories > .story {
    flex-direction: column;
    width: calc(100% - 2rem)
  }

  .story {
    margin: 2rem 0;
  }

  .story.orientation {
    margin-top: 1rem;
  }

  .story .media-story,
  .txt-story {
    width: 100%;
    margin: 0 0;
  }

  .txt-story {
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
  }

  .txt-story {
  }

  .guest {
    background-color: rgb(255, 255, 255);
  }
}

/* LEARNING */

.learning {
  flex-direction: column;
  align-items: center;
}

.courses {
  width: calc(100% - 9rem);
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.course {
  width: calc((100% - 4rem) / 3);
  background-color: rgb(255, 255, 255);
  height: 28.015625rem;
  margin-bottom: 2rem;
}

.description {
  margin: 1rem 0 1.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.description span {
  font-size: 1rem;
  font-weight: bolder;
  margin: 1rem 0;
}

@media only screen and (max-width: 480px) {
  .learning {
    background-color: rgb(255, 255, 255);
  }

  .learning .title {
    margin-bottom: 0.75rem;
  }

  .courses {
    width: calc(100% - 2rem);
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 2rem 0;
  }

  .course {
    width: 100%;
    margin: 0.25rem 0;
    text-align: left;
    height: 4.75rem;
  }

  .course h3 {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: rgb(238, 238, 238);
    border-radius: 0.25rem;
  }
}

/* THESIS */

.thesis-exibition {
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.thesis {
  align-items: flex-start;
}

.txt-main h3 {
  margin-bottom: 0.5rem;
}

.fisma {
  background-color: rgb(238, 238, 238);
  margin-top: 1rem;
}

@media only screen and (max-width: 480px) {
  .thesis-exibition .title {
    margin-bottom: 1rem;
  }

  .main {
    width: 100%;
    margin: 0 0;
  }

  .media-main {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}


/* FOOTER */

.footer {
  margin: 1rem 1.5rem;
}

.legal-notes :first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .footer {
    margin: 1rem 1rem;
  }

  .footer span {
    font-size: 1rem;
  }
}
