/* General style */
html {
  background-color: rgb(220, 220, 220);
  font-size: 16px;
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.up-ca {
  text-transform: uppercase;
}

/* Header style */

.header {
  background-color: rgb(255, 255, 255);
  height: 4rem;
}

.logo-sec {
  height: 2rem;
  margin-left: 1.5rem;
}

.colmar {
  color: rgb(105, 105, 105);
  font-weight: 500;
}

.academy {
  color: rgb(169, 169, 169);
}

.navigation {
  margin-right: 1.5rem;
}

.navigation li {
  margin-left: 1rem;
}

.navigation li:first-child {
  margin-left: 0;
}

/* Banner style */

.img-ban {
  width: 60%;
  margin: 2rem 1.5rem;
}

.img-ban img {
  width: 100%;
  height: auto;
}

.start-sec {
  width: calc(40% - 3rem);
}

.start {
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.start h1,
.start p,
.start .button {
  margin: 1rem 0;
  width: 100%;
}

.start h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: RGB(105, 105, 105);
}

.start p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(105, 105, 105);
}

.start .button {
  justify-content: center;
  background-color: RGB(105, 105, 105);
}

.start .button span {
  padding: 0.5rem 0;
  color: RGB(255, 255, 255);
}
